#wspólne biblioteki
numpy>=1.26,<2.0
pillow>=10,<13
matplotlib

#tensorFlow – CPU (Win) / GPU (Linux)
tensorflow==2.17.0; platform_system == "Windows"
tensorflow[and-cuda]==2.17.0; platform_system == "Linux"
